@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-500 border-b border-blue-500 hover:text-blue-300;
}

ul.list-dash > li {
  position: relative;
}

ul.list-dash > li:before {
  content: '-';
  position: absolute;
  left: -1.5rem;
}

code {
  @apply text-xs text-gray-800 bg-gray-100 py-0.5 px-1 rounded-sm;
}
